{:paths ["src/main" "resources"]
 :deps {net.cgrand/macrovich {:mvn/version "0.2.1"}}

 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps {nrepl/nrepl      {:mvn/version "0.9.0"}
                              cider/piggieback {:mvn/version "0.5.3"}
                              clj-kondo/clj-kondo {:mvn/version "2022.08.03"}}}

           :clj {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}}}

           :test {:extra-paths ["src/test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.69.1069"}
                               com.lambdaisland/kaocha-cljs {:mvn/version "1.2.123"}}}


           :build {:extra-paths ["src/build" "src/docs"]
                   :extra-deps {io.github.jerems/mbt2 {:git/tag "v5", :git/sha "f5b65fe8cc"}}}}}
